In [1]:
import pandas as pd

In [4]:
df = pd.read_excel("../data/Classes.xlsx")
df

                     Folder Name   Class
0              005.Crested_Auklet      0
1                    013.Bobolink      1
2              015.Lazuli_Bunting      2
3            023.Brandt_Cormorant      3
4      040.Olive_sided_Flycatcher      4
5   041.Scissor_tailed_Flycatcher      5
6            067.Anna_Hummingbird      6
7             072.Pomarine_Jaeger      7
8             076.Dark_eyed_Junco      8
9             081.Pied_Kingfisher      9
10          082.Ringed_Kingfisher     10
11               086.Pacific_Loon     11
12                   099.Ovenbird     12
13             104.American_Pipit     13
14           127.Savannah_Sparrow     14
15               135.Bank_Swallow     15
16                 141.Artic_Tern     16
17             149.Brown_Thrasher     17
18           156.White_eyed_Vireo     18
19           168.Kentucky_Warbler     19

In [ ]:
tra